html,body{background:#eee url(../images/bg.gif) top left;}
body{font-family:'Lato',helvetica,arial,sans-serif;font-weight:300;color:#333;}
.left {float:left;}
.right {float:right;}
.clear{clear:both; line-height:0; height:0;}

header {background:url(../images/color_bar.jpg) top left repeat-x; width:100%; height:90px;}
header #container{padding:0; margin:0 auto; width:1000px;}
#container .logo {padding-left:30px; padding-top:17px;}
#container .icons {padding:30px 0; padding-right:20px;}
#container .icons a.icon-cont {margin:0; padding:0; display:inline-block;text-indent:-9999px; overflow:hidden; height:16px; background:url(../images/icon_sprite.png) no-repeat scroll 0 0 transparent; background-repeat:no-repeat; width:16px; z-index:0; color:#f0deff; position:relative; margin-right:20px;}
#container .icons a.home{background-position:0 0;}
#container .icons a.twitter {background-position:-32px 0;}
#container .icons a.facebook  {background-position:-16px 0;}
#container .icons a.alert  {background-position:-48px 0;}

nav, #pages{display:table-cell; vertical-align:top;}

nav{width:200px;padding-bottom:12px; padding-top:35px;}
nav a, nav a:visited{color:#999; display:block; font-size:18px; font-weight:700; line-height:24px;  padding:6px 24px; text-decoration:none; text-transform:uppercase; text-align:center; text-shadow:0px 1px 0px #fff;}
nav a:hover,nav a:active{color:#333;}
nav a.selected{background:url("../images/right-triangle.gif") no-repeat scroll 100% 50% #333333; color:#fff; text-shadow:none;}

#pages{width:86%; min-width:700px; max-width:800px !important;}
article {background:#fff; border-radius:24px; margin-right:24px; min-height:300px; padding:48px; width:auto; box-shadow:3px 3px 6px #C6C6C6;}
article h1{font-size:36px; font-weight:900; line-height:36px; margin-bottom:24px; cursor:default;}
article a:hover{color:#16293A;}
article a, article a:visited, article a:active{border-radius:2px; color:#30577C; padding:1px 0;}
article p, article blockquote{font-size:14px; line-height:24px; margin-bottom:24px;}
#stream > li {border-top:1px solid #eee; font-size:14px; line-height:18px; padding: 12px 0 12px 22px; position:relative;}
#stream > li:first-child {border-top:none; padding-top:0;}
#stream > li .icon {left:0; position:absolute; top:12px;}
#stream a{text-decoration:none;}
#stream a:hover {background-color:#CDD7DF;}
#stream > li .meta{color:#999; font-size:11px;  margin-top:3px;}
#stream > li:first-child .icon {top:0;}

article ul#flickr li{display:inline-block; padding:2px; background:#aaa url(../images/bg.gif) top left; margin:3px; clear:both; width:150px; vertical-align:top; border:1px solid #ccc; font-size:12px;}
article ul#flickr li:hover{box-shadow:0 0 3px #C6C6C6;}
article ul#flickr li a{display:block; text-decoration:none; color:#111;}
article ul#flickr li img{float:left; padding-right:3px; word-break:break-all;}

.slider {width:100%; margin:0 auto; position:relative; min-width:500px; max-width:800px;}
ul.navigation {margin:0; padding:0 0 9px;}
ul.navigation li{display:inline; margin-right:10px;}
ul.navigation li a{color:#aaa; padding:10px; text-decoration:none; font-weight:300;}
ul.navigation li a.selected{background:#eee; border-radius:5px 5px 0 0; text-shadow:0 1px 0 #FFFFFF; font-weight:700; color:#000;}
ul.navigation li a:focus{outline:none;}
.scroll {clear:left; height:250px; overflow-x:hidden; overflow-y:auto; position:relative; width:100%;}
.scroll .scrollContainer{float:left; /*width:1600px;*/}
.slider .scrollContainer > div {float:left; position:relative;}
.scrollContainer div.panel{height:210px; padding:20px; width:100%; background:#eee; border-radius:0 0 5px 5px; min-width:500px; max-width:760px;}

.panel ul li{display:inline-block; width:50%; min-width:110px; max-width:240px; padding-bottom:20px; vertical-align:top;}
.panel ul li h2 {/*font-family:"Yanone Kaffeesatz",Tahoma,Geneva,sans-serif;*/ font-weight:300; font-size:24px; color:#333; text-shadow:0 1px 0 #fff;}
.panel ul li p{padding:0; margin:0; font-size:13px; font-weight:300; letter-spacing:0.5px; color:#333333; line-height:20px;}
.panel ul li p span {font-weight:700; color:#aaa; text-shadow:0 1px 0 #FFFFFF;}

footer {color:#999; display:block; font-size:14px; padding:48px 24px 24px;}

#footer {background:url("../images/footer-bg.png") 0 0 repeat; bottom:0; height:30px; left:0; position:fixed; width:100%; z-index:99; padding:5px 0;}
#footer-content{margin:0 auto; position:relative; width:1000px; text-align:center; font-family:"Yanone Kaffeesatz",Tahoma,Geneva,sans-serif; font-weight:200; font-size:24px;}